ServiceX/Service References/SvcTipoTelefone/SvcTipoTelefone.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SvcTipoTelefone" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpContextBinding_ISvcTipoTelefone_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <IncludeContext ProtectionLevel="Sign" xmlns="http://schemas.microsoft.com/ws/2006/05/context" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infraestrutura" />
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvcTipoTelefone_Complete_InputMessage">
    <wsdl:part name="parameters" element="tns:Complete" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Complete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Salvar_InputMessage">
    <wsdl:part name="parameters" element="tns:Salvar" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Salvar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SalvarEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEntities" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SalvarEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_AdicionarEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEntity" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_AdicionarEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEntityResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Adicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Adicionar" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Adicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Remover_InputMessage">
    <wsdl:part name="parameters" element="tns:Remover" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Remover_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_RemoverEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEntities" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_RemoverEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Paginate_InputMessage">
    <wsdl:part name="parameters" element="tns:Paginate" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Paginate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaginateResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SetAddEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAddEntity" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SetAddEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAddEntityResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SetAddUpdateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAddUpdateEntity" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SetAddUpdateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAddUpdateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SetAddRemoveEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAddRemoveEntity" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_SetAddRemoveEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAddRemoveEntityResponse" />
  </wsdl:message>
  <wsdl:portType name="ISvcTipoTelefone">
    <wsdl:operation name="Complete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Complete" message="tns:ISvcTipoTelefone_Complete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/CompleteResponse" message="tns:ISvcTipoTelefone_Complete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Salvar" message="tns:ISvcTipoTelefone_Salvar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/SalvarResponse" message="tns:ISvcTipoTelefone_Salvar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/SalvarEntities" message="tns:ISvcTipoTelefone_SalvarEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/SalvarEntitiesResponse" message="tns:ISvcTipoTelefone_SalvarEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/AdicionarEntity" message="tns:ISvcTipoTelefone_AdicionarEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/AdicionarEntityResponse" message="tns:ISvcTipoTelefone_AdicionarEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Adicionar" message="tns:ISvcTipoTelefone_Adicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/AdicionarResponse" message="tns:ISvcTipoTelefone_Adicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Remover" message="tns:ISvcTipoTelefone_Remover_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/RemoverResponse" message="tns:ISvcTipoTelefone_Remover_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/RemoverEntities" message="tns:ISvcTipoTelefone_RemoverEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/RemoverEntitiesResponse" message="tns:ISvcTipoTelefone_RemoverEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Paginate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Paginate" message="tns:ISvcTipoTelefone_Paginate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/PaginateResponse" message="tns:ISvcTipoTelefone_Paginate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAddEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcTipoTelefone/SetAddEntity" message="tns:ISvcTipoTelefone_SetAddEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcTipoTelefone/SetAddEntityResponse" message="tns:ISvcTipoTelefone_SetAddEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAddUpdateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcTipoTelefone/SetAddUpdateEntity" message="tns:ISvcTipoTelefone_SetAddUpdateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcTipoTelefone/SetAddUpdateEntityResponse" message="tns:ISvcTipoTelefone_SetAddUpdateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAddRemoveEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcTipoTelefone/SetAddRemoveEntity" message="tns:ISvcTipoTelefone_SetAddRemoveEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcTipoTelefone/SetAddRemoveEntityResponse" message="tns:ISvcTipoTelefone_SetAddRemoveEntity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpContextBinding_ISvcTipoTelefone" type="tns:ISvcTipoTelefone">
    <wsp:PolicyReference URI="#WSHttpContextBinding_ISvcTipoTelefone_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Complete">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Complete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Salvar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarEntities">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/SalvarEntities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarEntity">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/AdicionarEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Adicionar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Remover" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverEntities">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/RemoverEntities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paginate">
      <soap12:operation soapAction="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository/Paginate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAddEntity">
      <soap12:operation soapAction="http://tempuri.org/ISvcTipoTelefone/SetAddEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAddUpdateEntity">
      <soap12:operation soapAction="http://tempuri.org/ISvcTipoTelefone/SetAddUpdateEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAddRemoveEntity">
      <soap12:operation soapAction="http://tempuri.org/ISvcTipoTelefone/SetAddRemoveEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SvcTipoTelefone">
    <wsdl:port name="WSHttpContextBinding_ISvcTipoTelefone" binding="tns:WSHttpContextBinding_ISvcTipoTelefone">
      <soap12:address location="http://localhost:2288/Services/SvcTipoTelefone.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2288/Services/SvcTipoTelefone.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>