WebApiServiceX/Service References/SvcTipoTelefone/SvcTipoTelefone3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="DATACONTRACTS" elementFormDefault="qualified" targetNamespace="DATACONTRACTS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Entity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="IEntityOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IEntityOf{0}{#}" Namespace="DATACONTRACTS" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="cod" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="IEntityOfint" nillable="true" type="tns:IEntityOfint" />
</xs:schema>