WebApiServiceX/Service References/SvcTipoTelefone/SvcTipoTelefone1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://Wcf-ServiceX/services/ISvcTipoTelefone/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://Wcf-ServiceX/services/ISvcTipoTelefone/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://Wcf-ServiceX/services/ISvcTipoTelefone/Imports">
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd2" namespace="servicex.com" />
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:2288/Services/SvcTipoTelefone.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wcf_ServiceX.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvcTipoTelefone_Complete_InputMessage">
    <wsdl:part xmlns:q1="http://tempuri.org/" name="parameters" element="q1:Complete" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Complete_OutputMessage">
    <wsdl:part xmlns:q2="http://tempuri.org/" name="parameters" element="q2:CompleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Add_InputMessage">
    <wsdl:part xmlns:q3="http://tempuri.org/" name="parameters" element="q3:Add" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Add_OutputMessage">
    <wsdl:part xmlns:q4="http://tempuri.org/" name="parameters" element="q4:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Update_InputMessage">
    <wsdl:part xmlns:q5="http://tempuri.org/" name="parameters" element="q5:Update" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Update_OutputMessage">
    <wsdl:part xmlns:q6="http://tempuri.org/" name="parameters" element="q6:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Remove_InputMessage">
    <wsdl:part xmlns:q7="http://tempuri.org/" name="parameters" element="q7:Remove" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Remove_OutputMessage">
    <wsdl:part xmlns:q8="http://tempuri.org/" name="parameters" element="q8:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Paginate_InputMessage">
    <wsdl:part xmlns:q9="http://tempuri.org/" name="parameters" element="q9:Paginate" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_Paginate_OutputMessage">
    <wsdl:part xmlns:q10="http://tempuri.org/" name="parameters" element="q10:PaginateResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_PaginateEntity_InputMessage">
    <wsdl:part xmlns:q11="http://tempuri.org/" name="parameters" element="q11:PaginateEntity" />
  </wsdl:message>
  <wsdl:message name="ISvcTipoTelefone_PaginateEntity_OutputMessage">
    <wsdl:part xmlns:q12="http://tempuri.org/" name="parameters" element="q12:PaginateEntityResponse" />
  </wsdl:message>
  <wsdl:portType name="ISvcTipoTelefone">
    <wsdl:operation name="Complete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/Complete" message="tns:ISvcTipoTelefone_Complete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/CompleteResponse" message="tns:ISvcTipoTelefone_Complete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/Add" message="tns:ISvcTipoTelefone_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/AddResponse" message="tns:ISvcTipoTelefone_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/Update" message="tns:ISvcTipoTelefone_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/UpdateResponse" message="tns:ISvcTipoTelefone_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/Remove" message="tns:ISvcTipoTelefone_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/RemoveResponse" message="tns:ISvcTipoTelefone_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Paginate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/Paginate" message="tns:ISvcTipoTelefone_Paginate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/PaginateResponse" message="tns:ISvcTipoTelefone_Paginate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaginateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/PaginateEntity" message="tns:ISvcTipoTelefone_PaginateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_TipoTelefoneRepository_TipoTelefone/PaginateEntityResponse" message="tns:ISvcTipoTelefone_PaginateEntity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>