WebApiServiceX/Service References/ServiceXRef/ServiceXY3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infraestrutura" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infraestrutura" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Entity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="IEntityOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Infraestrutura" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="IEntityOfint" nillable="true" type="tns:IEntityOfint" />
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
</xs:schema>