WebApiServiceX/Service References/ServiceXRef/ServiceXY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceXY" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7495/ServiceXY.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7495/ServiceXY.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7495/ServiceXY.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceXY" />
      <xsd:import schemaLocation="http://localhost:7495/ServiceXY.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infraestrutura" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceXY_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_InsertPersistente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPersistente" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_InsertPersistente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPersistenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_FindByID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByID" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_FindByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_UpdatePersistente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersistente" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_UpdatePersistente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersistenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_DeletePersistente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersistente" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_DeletePersistente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersistenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Salvar_InputMessage">
    <wsdl:part name="parameters" element="tns:Salvar" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Salvar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Adicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Adicionar" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Adicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Remover_InputMessage">
    <wsdl:part name="parameters" element="tns:Remover" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Remover_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Dispose_InputMessage">
    <wsdl:part name="parameters" element="tns:Dispose" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Dispose_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisposeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Paginate_InputMessage">
    <wsdl:part name="parameters" element="tns:Paginate" />
  </wsdl:message>
  <wsdl:message name="IServiceXY_Paginate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaginateResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceXY">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/GetData" message="tns:IServiceXY_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/GetDataResponse" message="tns:IServiceXY_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/GetDataUsingDataContract" message="tns:IServiceXY_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/GetDataUsingDataContractResponse" message="tns:IServiceXY_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPersistente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/InsertPersistente" message="tns:IServiceXY_InsertPersistente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/InsertPersistenteResponse" message="tns:IServiceXY_InsertPersistente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/FindByID" message="tns:IServiceXY_FindByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/FindByIDResponse" message="tns:IServiceXY_FindByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersistente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/UpdatePersistente" message="tns:IServiceXY_UpdatePersistente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/UpdatePersistenteResponse" message="tns:IServiceXY_UpdatePersistente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersistente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/DeletePersistente" message="tns:IServiceXY_DeletePersistente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/DeletePersistenteResponse" message="tns:IServiceXY_DeletePersistente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/Salvar" message="tns:IServiceXY_Salvar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/SalvarResponse" message="tns:IServiceXY_Salvar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/Adicionar" message="tns:IServiceXY_Adicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/AdicionarResponse" message="tns:IServiceXY_Adicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/Remover" message="tns:IServiceXY_Remover_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/RemoverResponse" message="tns:IServiceXY_Remover_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dispose">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/Dispose" message="tns:IServiceXY_Dispose_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/DisposeResponse" message="tns:IServiceXY_Dispose_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Paginate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXY/Paginate" message="tns:IServiceXY_Paginate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXY/PaginateResponse" message="tns:IServiceXY_Paginate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceXY" type="tns:IServiceXY">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPersistente">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/InsertPersistente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByID">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/FindByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersistente">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/UpdatePersistente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersistente">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/DeletePersistente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/Salvar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/Adicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/Remover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispose">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/Dispose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paginate">
      <soap:operation soapAction="http://tempuri.org/IServiceXY/Paginate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceXY">
    <wsdl:port name="BasicHttpBinding_IServiceXY" binding="tns:BasicHttpBinding_IServiceXY">
      <soap:address location="http://localhost:7495/ServiceXY.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>