WebApiServiceX/Service References/ServiceXRef/ServiceXY.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7495/ServiceXY.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceXY" />
  <xs:import schemaLocation="http://localhost:7495/ServiceXY.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infraestrutura" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceXY" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceXY" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="entity" nillable="true" type="q3:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersistenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="FindByIDResult" nillable="true" type="q4:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="entidade" nillable="true" type="q5:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersistenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="entidade" nillable="true" type="q6:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersistenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Salvar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="cls" nillable="true" type="q7:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="cls" nillable="true" type="q8:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Remover">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="cls" nillable="true" type="q9:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Dispose">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisposeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Paginate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaginateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Infraestrutura" minOccurs="0" name="PaginateResult" nillable="true" type="q10:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>